@tailwind base;
@tailwind components;
@tailwind utilities;

.font-1 {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }


  .font-2 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  